---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Welcome to OilCanic!</h1>
			<p>
				OilCanic.com is a service from Brady Diesel Services that is just about oil changes and fuel filter changes, we change all diesel oil filters and fuel filters, with 2 different simple prices in mind.
			</p>
			<h2>
				The Pricing
			</h2>
		
			<ul>
				<li>Heavy Duty 13 Liter or more Engine Oil Change 350.00</li>
				<li>Heavy Duty 13 Liter or more Engine + Fuel Filter + Chassis Greasing 450.00</li>
				<li>Heavy Duty 6 Liter or more Engine Oil Change 250.00</li>
				<li>Heavy Duty 6 Liter or more Engine + Fuel Filter + Chassis Greasing 350.00</li>
				<li>Light Duty 3 Liter or more Engine Oil Change 150.00</li>
    <li>Service Call Fee 50.00 Mileage Fee 2.75 per mile</li>
			</ul>
			<p>
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
